# app
fastapi[all]
pydantic==1.10.5
uvicorn[standard]
# db
databases[postgresql]
SQLAlchemy==1.4.46
alembic==1.9.4
psycopg2-binary==2.9.5
# dev
pytest==7.2.1
pytest-asyncio==0.20.3
httpx==0.23.3
asgi-lifespan==2.0.0
